:root {
  font-size: var(--size-16);
}

h1 {
  display: block;
  font-weight: bold;
  font-size: var(--size-36);
}

h2 {
  display: block;
  font-weight: 500;
  font-size: var(--size-30);
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

span {
  font-size: var(--size-14);
}

div {
  font-size: var(--size-14);
}

